VITE_ENABLE_CMS=false
VITE_ENABLE_DEMO_AUTH=false
VITE_SANITY_PROJECT_ID=
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2025-02-19
VITE_SANITY_USE_CDN=true
VITE_SANITY_STUDIO_URL=http://localhost:8080/cafe-admin/studio
SANITY_PROJECT_ID=
SANITY_DATASET=production
SANITY_API_VERSION=2025-02-19
SANITY_API_WRITE_TOKEN=
N8N_FORM_WEBHOOK_URL=https://n8n.srv1343557.hstgr.cloud/webhook/rd%20cafe
